# Dossiers de build
application/android/
application/build/

# Fichiers de configuration utilisateur
application/*.pro.user
application/.qtc_clangd/
application/CMakeLists.txt.user
application/src/build/*

# Dossiers de configuration et de build
learning/.vs/
learning/learning/x64/
learning/packages/

# Fichiers générés automatiquement par Visual Studio
learning/debug/*
